*.py[co]
.svn
/log
/fullhistory
/django
/webcube
/simplecart
/test_extensions
/localedb
/south
/staticfiles
src/*
*.db
*~
*.log
runserver.sh
local_settings.py
configstore
money
pip-log.txt
xterra_dealers.sql
xterra_dev.sql
xterra_dev_05-12-2010.sql
xterra_dev_fixedprices.sql
xterra_prd_dealers_races_05-12-2010.sql

